@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ProjectSoft.wwwroot.Alertas


@if (AlertaGeneral.msj != "")
{
    <div class="alert alert-@AlertaGeneral.tipo">
        <span class="fa fa-@AlertaGeneral.icono"></span> @AlertaGeneral.msj

    </div>
    AlertaGeneral.msj = "";
}