<div class="col-sm-12 pie">


    <center>
        <div class="col-sm-6">

            <br />
            <h2 class="text-center titulos">Project Soft</h2>
            <p style="color: white;">

                Desarrollado por <strong> <span class="fa fa-user"></span> Josue Cayetano</strong>

            </p>

            <p style="color: white;">&copy; 2018 - Project-Soft</p>
            <br />



        </div>


    </center>

</div>