
@{
    ViewData["Title"] = "No se encontró";
}

<center>
    <br /><br />
    <img src="~/images/problem.png" style="width:20%" />

    <h2 class="text-info">No se pudo encontrar el recurso solicitado.</h2>
</center>

@Html.Partial("_Footer");
