@{
    ViewData["Title"] = "Home Page";
}

<div class=" col-sm-12 portada portadacontainer">


    <center>
        <img src="~/images/LOGO.PNG" class="card-img-top imagen" />
    </center>
    <h2 class="text-center"><strong>Bienvenido(a) a Project-Soft</strong></h2>
    <p class="text-center text-info">Web de Proyectos de Software</p>

</div>


<br />

<h2 class="text-center">Caracteristicas</h2>


<table class=" table-responsive">



    <tr>

        <td>
            <div class="azul">
                <br />
                <center>
                    <h4 class="text-center titulos">Administra Proyectos</h4>
                    <img src="~/images/managment.png" class="" style="width:20%;" />

                    <p class="text-center textos">
                        Maneja los proyectos realizados por el equipo, edita la información de los proyectos,
                        elimina y registra nuevos proyectos.

                    </p>
                    <br />
                </center>
            </div>

        </td>



        <td>

            <div class="azul">
                <br />
                <center>
                    <h4 class="text-center titulos">Administra Clientes</h4>
                    <img src="~/images/cliente.png" class="" style="width:20%;" />
                    <p class="text-center textos">
                        Controla todo lo relacionado a los clientnes, edita, elimina y guarda clientes.
                        Obten información sobre un cliente en especifico.

                    </p>
                    <br />
                </center>
            </div>

        </td>



        <td>

            <div class="azul">

                <br />
                <center>
                    <h4 class="text-center titulos">Genera Reportes</h4>
                    <img src="~/images/reporte.png" class="" style="width:20%;" />

                    <p class="text-center textos">
                        Mántente al tanto sobre los proyectos, costos, clientes, contratos y también estadisticas de un proyecto en especifico.

                    </p>
                    <br />
                </center>
            </div>

        </td>


    </tr>


</table>



<br />
<div class="col-sm-12 verde">


    <center>
        <div class="col-sm-6">

            <br />
            <h2 class="text-center titulos">Interfaz Gráfica Agradable</h2>
            <img src="~/images/interfaz.png" class="" style="width:20%;" />
            <br />
            <p class="text-center textos" style="font-size:18px;">
                Aplicación web creada con una interfaz grafica sencilla y agradable para el usuario, con colores sencillos y a su vez combinados
                de forma que el usuario se sienta a gusto.

            </p>
            <br />



        </div>


    </center>

</div>


<br />
<div class="col-sm-12 blanco">


    <center>
        <div class="col-sm-6">

            <br />
            <h2 class="text-center titulos">Acceso Desde Cualquier Lugar</h2>
            <img src="~/images/global.png" class="" style="width:20%;" />
            <br />
            <p class="text-center textos" style="font-size:18px;">
                Puede tener acceso desde cualquier lugar y dispositivo con conexión a internet y administrar
                todo lo correspondiente a usuarios, proyectos, clientes, etc.

            </p>
            <br />



        </div>


    </center>

</div>


<div class="col-sm-12 azul-puro">


<center>
    <div class="col-sm-6">

        <br />
        <h2 class="text-center titulos">Base de Datos Remota</h2>
        <img src="~/images/data.png" class="" style="width:20%;" />
        <br />
        <p class="text-center textos" style="font-size:18px;">
           Todos los datos estarán almacenados en la nube, esto ayuda a que el usuario tenga acceso a sus datos en cualquier 
            momento que este desee. 
        </p>
        <br />
        


    </div>


</center>



</div>


<div class="col-sm-12 pie">


    <center>
        <div class="col-sm-6">

            <br />
            <h2 class="text-center titulos">Project Soft</h2>
            <img src="~/images/LOGO.PNG" class="" style="width:20%; border-radius:100px;" />
            <br />
            <p style="color: white;">&copy; 2018 - Project-Soft</p>
            <p style="color: white;">

                Desarrollado por <strong> <span class="fa fa-user"></span> Josue Cayetano</strong>

            </p>

            <p style="color: white;">

                Todos los derechos reservados.

            </p>

            <br />



        </div>


    </center>

</div>
